html,
body {

  margin: 0;
  padding: 0;
  color: var(--black);
  background:#E6E6E6;
  font-family: "Noto Sans", serif;
}
.Footer {

}
.Wrapper{

}

:root {
  --black: #3B434E;
  --white: #ffffff;
  --gray-light: #EBEBEB;
  --gray-light-hover: #8f8f8f;
  --primary: #FF7C32;
  --primary-hover: #ce6227;
  --red: red;
  --green: green;
  --green-light: #95e88e;
  --font-family: "Noto Sans", "sans-serif";
}