.Wrapper {
    display: grid;
    grid-template-columns: auto 230px minmax(320px,1200px) auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 0 30px;
    grid-template-areas:
        ". header header ."
        ". sidebar body ."
        "footer footer footer footer";
}
.Header {
    grid-area: header;
    display: none;
}
.Sidebar {
    grid-area: sidebar;
}
.Footer {
    grid-area: footer;
    background: var(--primary);
}
.body {
    grid-area: body;
}
@media (max-width: 765px) {
    .wrapper{
        grid-template-columns: minmax(320px, 1fr);
        grid-template-areas:
            "header"
            "body"
            "footer";
    }
    .Sidebar {
        display: none
    }
    .Header {
        display: block;
    }
}