.h1 {
    font-weight: 500;
    fons-size: 26px;
    line-height: 35px;
    margin: 0;

}
.h2 {
    font-weight: 500;
    fons-size: 22px;
    line-height: 30px;
    margin: 0;

}
.h3 {
    font-weight: 600;
    fons-size: 20px;
    line-height: 26px;
    margin: 0;
    color: var(--white)
}